<div class="col-lg-4 mx-auto"> <!-- dif con espaciado de 4, mx-auto (centrado) -->
    <div class="card"> <!-- crear tarjeta -->
        <div class="card-header"> <!-- cabecera -->
            Añadir alumno
        </div>
        <div class="card-body"> <!-- cuerpo donde creare el form -->
            <form (submit)="addAlumno(name,email,phone1, phone2)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Student's name" required #name>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Student's email" required #email>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Student's work phone" required #phone1>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Student's home number" required #phone2>
                </div>
                <div class="container p-4">
                    <button class="btn btn-primary btn-block">save</button>
                </div>
            </form>
        </div>
    </div>
</div>
